// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
	// background-color: grey;
}

table {
	font-size: 1.1rem;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

td, th {
	border: 1px solid#b1b1b1;
	text-align: left;
	padding: 8px;
}
tbody{
	tr:nth-child(even) {
		background-color: #e8e8e8;
	}
	.read{
		padding: 5px 10px;
		background-color: white;
		border-radius: 4px;
		cursor: pointer;
		overflow: hidden;
		border: 1px solid #b2b2b2;
		transition: all .25s;
		&:hover{
			background-color: #dadada;
		}
	}
}
