<template>
<div>
  <div class="container mt-3">
		<button type="button mt-3" class="btn btn-primary mr-2" data-toggle="modal" data-target="#registerModal" >
			ลงทะเบียน
		</button>
		<!-- <div class="row" v-if="users != null">
			<div v-for="(user,index) in users" :key="index">
				{{index+1}} {{user.name}}
			</div>
		</div> -->

		<table class="mt-3">
			<thead>
				<tr>
					<th>ชื่อ</th>
					<th>เพศ</th>
					<th>วันเกิด</th>
					<th colspan="2">ที่อยู่</th>
					<th>เบอร์โทรศัพท์</th>
					<th class="text-center">แก้ไข</th>
				</tr>
			</thead>
			<tbody v-if="users != null">
				<tr v-for="(user,index) in users" :key="index">
					<td>{{user.name}} {{user.lastname}}</td>
					<td>{{user.gender}}</td>
					<td>{{user.birthDate}}</td>
					<th colspan="2">{{user.address}}</th>
					<td>{{user.phone}}</td>
					<td class="text-center"><span class="read" v-on:click="editUser(index)">แก้ไข</span></td>
				</tr>
			</tbody>
			<tbody v-else>
				<tr>
					<td colspan="8" class="text-center">ไม่มีผู้ลงทะเบียน</td>
				</tr>
			</tbody>
		</table>


  </div>
	<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="registerModalLabel">Register</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="name">ชื่อ</label>
						<input maxlength="99" type="text" v-model="name" class="form-control"  style="font-size: 1.25rem;">
					</div>
					<div class="form-group">
						<label for="lastname">นามสกุล</label>
						<input maxlength="99" type="text" v-model="lastname" class="form-control" style="font-size: 1.25rem;">
					</div>
					<div class="form-group">
						<label>เพศ</label>
						<select class="form-control" v-model="gender" id="parceltype" style="font-size: 1.25rem;">
							<option>Man</option>
							<option>Women</option>
						</select>
					</div>
					<div class="form-group">
						<label>วันเกิด</label>
						<datepicker :input-class="'form-control'" v-model="birthDate"></datepicker>
					</div>
					<div class="form-group">
						<label for="email">อีเมลล์</label>
						<input maxlength="99" type="text" v-model="email" class="form-control" style="font-size: 1.25rem;">
					</div>
					<div class="form-group">
						<label>ที่อยู่</label>
						<textarea class="form-control" v-model="address" rows="5" style="font-size: 1.25rem;"></textarea>
					</div>
					<div class="form-group">
						<label for="phone">เบอร์โทรศัพท์</label>
						<input maxlength="99" type="text" v-model="phone" class="form-control" style="font-size: 1.25rem;">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" v-on:click="register()">Submit</button>
					<!-- <input type="hidden" name="" > -->
					<!-- <button type="button" class="btn btn-primary" v-on:click="register()" v-if="action == 'edit'">Submit Changes</button> -->
				</div>
			</div>
		</div>
	</div>
</div>



</template>

<script>
	var thisVue;
	import Datepicker from 'vuejs-datepicker';
  export default {
		data() {
			return {
				name:'',lastname:'',gender:'Man',birthDate:'',email:'',address:'',phone:'',
				users:null,userId:0,
			}
		},
		created() {
			thisVue = this;
		},
    mounted() {
			console.log('Panachai Suppasupanya')
			$('#registerModal').on('hidden.bs.modal', function (e) {
				thisVue.clearInputs();
			});
			this.getUsers();
		},
		components: {
			Datepicker,
		},
		methods:{
			clearInputs(){
				this.name = '';
				this.lastname = '';
				this.gender = 'Man';
				this.birthDate = '';
				this.email = '';
				this.address = '';
				this.phone = '';
				this.userId = 0;
			},
			editUser(index){
				// console.log( index );
				this.name = this.users[index].name;
				this.lastname = this.users[index].lastname;
				this.gender = this.users[index].gender;
				this.birthDate = this.users[index].birthDate;
				this.email = this.users[index].email;
				this.address = this.users[index].address;
				this.phone = this.users[index].phone;
				this.userId = this.users[index].id;
				$('#registerModal').modal('show');
			},
			register(){
				// console.log( this.birthDate );
				// this.userId = 0;
				var validateEmail = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				if(!validateEmail.test(this.email)){
					alert('ฟอร์แม็ตอีเมลล์ผิด / กรุณาใส่อีเมลล์');
					return false;
				}
				if(this.name.length <= 0){
					alert('กรุณาใส่ชื่อ');
					return false;
				}
				if(this.lastname.length <= 0){
					alert('กรุณาใส่นามสกุล');
					return false;
				}
				if(this.address.length <= 0){
					alert('กรุณาใส่ที่อยู่');
					return false;
				}
				if(this.phone.length <= 0){
					alert('กรุณาใส่เบอร์โทรศัพท์');
					return false;
				}
				if(this.birthDate.length <= 0){
					alert('กรุณาเลือกวันเกิด');
					return false;
				}
				axios.get('/register', {
					params: {
						email:this.email,
						name:this.name,
						lastname:this.lastname,
						address:this.address,
						phone:this.phone,
						birthDate:this.birthDate,
						gender:this.gender,
						userId:this.userId,
					}
				})
				.then(response => {
					if(response.data == 1){
						alert('บันทึกข้อมูลเรียบร้อยg');
						$('#registerModal').modal('hide');
						this.getUsers();
					}else{
						alert('error');
						return false;
					}
				}).catch(error => console.log(error)).finally(() =>
				{
				});
			},
			getUsers(){
				axios.get('/getusers', {
					params: {

					}
				})
				.then(response => {
					this.users = response.data;
					console.log( this.users );
				}).catch(error => console.log(error)).finally(() =>
				{
				});
			}
		}
  }
</script>
